# شروع کار با پایتون

## انواع ساختار داده

#   عددی - صحیح

In [1]:
num = 123

In [2]:
num + 1000 # جمع

1123

In [3]:
num * 2 # ضرب

246

In [4]:
num / 2 # تقسیم

61.5

In [5]:
num ** 2 # توان

15129

# عددی - اعشاری

In [6]:
a=1.5 + 2.6

In [7]:
type(a)

float

## رشته

In [8]:
new_string = "This is a String" # ذخیره سازی رشته

In [9]:
type(new_string) # نشان دادن نوع شیء

str

In [10]:
new_string # نشان دادن مقدار شیء

'This is a String'

In [11]:
s1 = 'this is a string'

In [12]:
s2 = 'this is "another" string'

In [13]:
s3 = 'this is the \'third\' string'

In [14]:
s4 = """this is a
         multiline
         string"""

In [15]:
print (s1, s2, s3, s4)

this is a string this is "another" string this is the 'third' string this is a
         multiline
         string

In [16]:
print (s3 + '\n' + s4)

this is the 'third' string
this is a
         multiline
         string

In [17]:
' '.join([s1, s2])

'this is a string this is "another" string'

In [18]:
s1[::-1] # برعکس کردن رشته

'gnirts a si siht'

## لیست

In [19]:
l1 = ['eggs', 'flour', 'butter'] 
l2 = list([1, 'drink', 10, 'sandwiches', 0.45e-2]) 
l3 = [1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [20]:
a=(l1, l2, l3)
print (a) 
#print(a[5])  error

b=l1+ l2+ l3
print (b) 
b[5]

(['eggs', 'flour', 'butter'], [1, 'drink', 10, 'sandwiches', 0.0045], [1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']])
['eggs', 'flour', 'butter', 1, 'drink', 10, 'sandwiches', 0.0045, 1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

10

In [21]:
l1

['eggs', 'flour', 'butter']

In [22]:
l1[0]

'eggs'

In [23]:
l1[1]

'flour'

In [24]:
l1[0] +' '+ l1[1]

'eggs flour'

In [66]:
l2

['this', 'is', 'list', '2']

In [ ]:
l2[1:3]

['is', 'list']

In [26]:
numbers = range(10) 
numbers

range(0, 10)

In [27]:
numbers[2:5]

range(2, 5)

In [28]:
numbers[:]

range(0, 10)

In [29]:
# مدیریت لیست آشیانه ای (nested lists)

In [30]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python']]

In [31]:
l3[3]

['a', 'b', 'c']

In [32]:
l3[4]

['Hello', 'Python']

In [33]:
l3.append(l1) # append operation

In [34]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['Hello', 'Python'], ['eggs', 'flour', 'butter']]

In [35]:
l3.pop(3) # pop operation

['a', 'b', 'c']

In [36]:
l3

[1, 2, 3, ['Hello', 'Python'], ['eggs', 'flour', 'butter']]

In [37]:
"""a.insert(index, value)
a.append(value) # to the end
a.extend(b) # append to data type
b=a.copy() # b=a is false(b will be reference) 
a.remove(value) # specific item
a.pop(i) / del a[i] # specific index
del a # delete a entirely
a.clear() # just clear"""
"""Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.Convert the tuple into a list to be able to change it"""

'Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.Convert the tuple into a list to be able to change it'

## مجموعه

In [ ]:
l1 = [1,1,2,3,5,5,7,9,1]

In [39]:
s1= set(l1)#  تبدیل لیست به مجموعه
s1

{1, 2, 3, 5, 7, 9}

In [40]:
1 in set(l1)

True

In [41]:
100 in set(l1)

False

In [42]:
# نوشتن مجموعه دوم
s2 = {5, 7, 11}

In [43]:
s1 - s2 # تفریق مجموعه ها

{1, 2, 3, 9}

In [44]:
s1 | s2 # اجتماع مجموعه ها

{1, 2, 3, 5, 7, 9, 11}

In [45]:
s1 & s2 # اشتراک مجوعه ها

{5, 7}

In [46]:
s1 ^ s2 # عناصری که در هر دو مجموعه وجود ندارند

{1, 2, 3, 9, 11}

# دیکشنری

In [47]:
d1 = {'eggs': 2, 'milk': 3, 'spam': 10, 'ham': 15}

In [ ]:
d1.get('eggs')

2

In [49]:
d1['eggs']

2

In [50]:
d1['orange'] = 25
d1

{'eggs': 2, 'milk': 3, 'spam': 10, 'ham': 15, 'orange': 25}

In [51]:
d1.keys()

dict_keys(['eggs', 'milk', 'spam', 'ham', 'orange'])

In [52]:
d1.values()

dict_values([2, 3, 10, 15, 25])

In [53]:
d2 = dict({'orange': 5, 'melon': 17, 'milk': 10})

In [54]:
d1.update(d2)
d1

{'eggs': 2, 'milk': 10, 'spam': 10, 'ham': 15, 'orange': 5, 'melon': 17}

In [55]:
d3 = {'k1': 5, 'k2': [1,2,3,4,5], 'k3': {'a': 1, 'b': 2, 'c':
[1,2,3]}}

In [56]:
d3.get('k3')

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [57]:
d3.get('k3').get('c')

[1, 2, 3]

# تاپل

In [58]:
single_tuple = (1,)
single_tuple

(1,)

## دسترسی پیدا کردن و باز کردن تاپل ها

In [59]:
tup = (['this', 'is', 'list', '1'], ['this', 'is', 'list', '2'])
tup[0]

['this', 'is', 'list', '1']

In [60]:
l1, l2 = tup
print (l1, l2)
l1

['this', 'is', 'list', '1'] ['this', 'is', 'list', '2']

['this', 'is', 'list', '1']

# برنامه های کنترلی

### برنامه های کنترلی در پایتون شامل موارد زیر میشود
### if-elif-else 
### for حلقه
### while حلقه 
### break, continue,و else (در حلقه ها)
### try- except

# if elif else

In [61]:
var = 'spam'
if var == 'spam':
    print ('Spam')

Spam

In [62]:
var = 'ham'
if var == 'spam':
    print ('Spam')
elif var == 'ham':
    print ('Ham')

Ham

In [68]:
yourage = int(input('How old are you?'))
if yourage >= 20 and yourage < 45:
    print('Young')
elif yourage <= 20 and yourage >= 10 :
    print("Teenager")
else:
    print('child')

Teenager

# for حلقه

In [78]:
# نشان دادن حلقه ها
numbers = range(0,5)
for number in numbers:
    print (number)

0
1
2
3
4

In [77]:
Sum = 0
for number in numbers:
    Sum += number
print (Sum)

45

In [76]:
for number in numbers:
    if number < 3:    
        print (number) 
    else:
        break
else:
    print('loop exited normally')

0
1
2

# While حلقه

In [75]:
number = 5
while number > 0:
    print (number)
    number -= 1

5
4
3
2
1

In [74]:
number = 10
while number > 0:    
    if number % 2 != 0:
        number -= 1
        continue # برگشتن به حلقه اول برای تکرار بعد
    print (number)  # چاپ اعداد زوج و شمارش گسسته
    number -= 1

10
8
6
4
2

In [73]:
number = 10
while number > 0:    
    if number % 2 != 0:
        pass
    else:
        print (number)  # چاپ اعداد زوج و شمارش گسسته
    number -= 1

10
8
6
4
2

# توابع

In [69]:
def square(number):
    return number*number

In [70]:
square(5)

25

In [71]:
def squares(*args):
    squared_args = []
    for item in args:  
        squared_args.append(item*item)
    return squared_args

In [72]:
squares(1,2,3)

[1, 4, 9]